* {
    text-align: center;
    font-family: "Courier New"
}

p,
ul li,
ol li{
    font-size:  25px;
    text-align: left;
}

em {
    font-weight: bold;
}

p {
    text-align: justify;
}

h1,
.title {
    text-align: center;
    list-style: none;
    font-size: 50px;
}